<style type="text/css">
<!--
body {
background-color: #F0F8FF;
}

p, ul {
align: left;
background-color:#FFFFFF;
width: 80%;
margin-left: 50px;
padding: 0px;
}

h1, h2, h3 {
padding: 10px;
margin: 0px;
color: #000000;
background-color: #1F1FFF;
}

h3 {
padding: 5px;
margin-top: 10px;
background-color: #9999FF;
}

p#footer {
margin: 0px;
width: 100%;
background-color: #9999FF;
}
-->
</style>